/* .container>*{
   border: 2px solid navy;
  background-color: bisque;
  padding: 20px;
  display: grid;
  grid-template-areas: "header header header header header header"
                        "navbar main  main   main   main   sidebar "
                        "navbar main  main   main   main   advertise"
                        "footer footer footer footer footer footer";
 } 
 header{
    grid-area: header;
 }
 nav{
    grid-area: nav;
 } 
 main{
    grid-area: main;
 }
 #sidebar{
    grid-area: sidebar;
 }
 #advertise{
    grid-area: advertise;
 }
 footer{
    grid-area: footer;
 } */